body {
  margin: 0;
  text-align: center;
}

img {
  width: 100px;
}

.hero {
  background: url(images/tokyo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 343px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #fff;
  font-family: Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #1d3557;
  width: 225px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  
}
